<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <!-- Header -->
   <header class="header">
       <!-- Header container -->
        <div class="container" id="firstDiv">
            <div class="row">
                <div class="col-2">
                    <div class="logo header-top-margin">
                        <img src="./assets/images/FitApp-logo.png" alt="Fit App">
                    </div>
                </div>
                <div class="col-8 col-1-md col-1-sm order-3">
                    <nav class="nav flex-end header-top-margin">
                        <span id="trigger" class="trigger">
                          <i></i>
                          <i></i>
                          <i></i>
                        </span>
                        <ul class="menu-list" id="menu">
                            <li><a class="link firstButton white" href="#">About</a></li>
                            <li><a class="link secondDiv white" href="#features">Features</a></li>
                            <li><a class="link thirdButton white" href="#">Reviews</a></li>
                            <li><a class="link fourthButton white" href="#">Blog</a></li>
                            <li><a class="link fifthButton white" href="#">Support</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-2 col-8-md order-2">
                  <div class="header-btn header-top-margin">
                    <a href="" class="btn main-btn">Get App</a>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mobile-nav">
                  <ul class="menu-list" id="mobile_menu">
                      <li><a class="link firstButton" href="#" class="menu__link">About</a></li>
                      <li><a class="link secondButton" href="#features" class="menu__link">Features</a></li>
                      <li><a class="link thirdButton" href="#" class="menu__link">Reviews</a></li>
                      <li><a class="link fourthButton" href="#" class="menu__link">Blog</a></li>
                      <li><a class="link fifthButton" href="#" class="menu__link">Support</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-wrapper">
                <div class="row">
                    <div class="col-7 col-12-sm md">
                        <div class="header-content">
                            <img src="./assets/images/App_Icon.png" alt="Fit App">
                            <h1 class="title header-title white">Helps you eat <b>better.</b></h1>
                            <p class="text main-text white">FitApp is a free calorie counting and diet app PSD template which includes high quality 9 screens. This template can be very helpful if you're planning to build food tracking application. </p>
                            <div class="download-list">
                                <a href="#" class="appstore download-item"></a>
                                <a href="#" class="googleplay download-item"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="header-sidebar">
                           <img src="./assets/images/iPhone_mock_up.png" alt="iPhone 5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- Header container -->
   </header>
   <!-- Header -->
   <!-- Features -->
   <section class="features" id="features">
       <!-- Features container -->
       <div class="container" id="secondDiv">
            <div class="row">
                <div class="col-6 md">
                    <div class="features-sidebar">
                        <div class="row">
                            <div class="col-6">
                                <div class="features-image flex-center">
                                    <img src="./assets/images/iPhone_5C_Mock_Up_Features.png" alt="iPhone 5">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="features-content flex-column" id="items">
                                    <div class="row features-item item_1">
                                        <img class="item text1" src="./assets/images/features-item-bell.png" alt="">
                                    </div>
                                    <div class="row features-item item_2">
                                        <img class="item text2" src="./assets/images/features-item-calendar.png" alt="">
                                    </div>
                                    <div class="row features-item item_3">
                                        <img class="item text3" src="./assets/images/features-item-graph.png" alt="">
                                    </div>
                                    <div class="row features-item item_4">
                                        <img class="item text4" src="./assets/images/features-item-heart.png" alt="">
                                    </div>
                                    <div class="row features-item item_5">
                                        <img class="item text5" src="./assets/images/features-item-list.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 md">
                    <div class="features-content">
                        <h1 class="title body-title gray">Best calorie <span class="green"> counter app!</span> </h1>
                        <p class="text main-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
       </div>
       <!-- Features container -->
   </section>
   <!-- Features -->
   <!-- Plan -->
   <section class="plan">
       <!-- Plan container -->
       <div class="container" id="thirdDiv">
           <div class="row">
               <div class="plan-content text-center">
                   <h1 class="title body-title gray">A simple way to <span class="green">plan your diet!</span></h1>
                   <p class="text main-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                   <div class="plan-image">
                       <img src="./assets/images/plan-iphones.png" alt="iPhone 5C">
                   </div>
               </div>
           </div>
       </div>
       <!-- Plan container -->
   </section>
   <!-- Plan -->
   <!-- Manage -->
   <section class="manage">
       <!-- Manage container -->
       <div class="container" id="fourthDiv">
           <div class="row">
               <div class="col-6 sm">
                   <div class="manage-content">
                        <h1 class="title body-title gray">Manage your <span class="green">meal time</span></h1>
                        <p class="text main-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                   </div>
               </div>
               <div class="col-6 sm">
                    <div class="manage-cards flex-column">
                        <div class="card card-small">
                            <div class="row flex-items-center card-padding">
                                <div class="col-4">
                                    <div class="card-image flex">
                                        <img src="./assets/images/apple.png" alt="Apple">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="card-content flex-column">
                                        <h1 class="card-title card-title-main green">Apple</h1>
                                        <p class="card-text card-text-main gray">Lorem ipsum dolor sit</p>
                                        <span class="card-footer gray-light card-text">•</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card-time">
                                        <h1 class="card-title card-title-time float-right gray-light">01:00</h1>
                                        <p class="card-text card-text-time float-right gray-light">PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-big shadow">
                            <div class="row flex-items-center card-padding">
                                <div class="col-4">
                                    <div class="card card-image flex">
                                        <img src="./assets/images/sandwich.png" alt="Sandwich">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="card-content flex-column">
                                        <h1 class="card-title card-title-main green">Sandwich</h1>
                                        <p class="card-text card-text-main gray">Lorem ipsum dolor sit</p>
                                        <span class="card-footer gray-light card-text">•</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card-time flex-column">
                                        <h1 class="card-title card-title-time float-right green">03:00</h1>
                                        <p class="card-text card-text-time float-right gray-light">PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small shadow">
                            <div class="row flex-items-center card-padding">
                                <div class="col-4">
                                    <div class="card-image flex">
                                        <img src="./assets/images/salate.png" alt="Salad">
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="card-content flex-column">
                                        <h1 class="card-title card-title-main green">Salad with chicken</h1>
                                        <p class="card-text card-text-main gray">Lorem ipsum dolor sit</p>
                                        <span class="card-footer gray-light card-text">•</span>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="card-time">
                                        <h1 class="card-title card-title-time float-right gray-light">05:30</h1>
                                        <p class="card-text card-text-time float-right gray-light">PM</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
       </div>
       <!-- Manage container -->
   </section>
   <!-- Manage -->

   <!-- Footer -->
   <footer class="footer">
        <!-- Footer container -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content flex-column text-center">
                        <h1 class="title body-title white">Download, customize & <b>enjoy!</b></h1>
                        <p class="text main-text white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#" class="btn main-btn">Get App</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer container -->
   </footer>
   <!-- Footer -->
</body>
</html>
