<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Header -->
       <div class="header">
           <!-- Header container -->
            <div class="container">
                <div class="header__row">
                    <a href="" class="header__logo"></a>
                    <div class="header__nav">
                        <nav class="menu__body">
                            <ul class="menu__list">
                                <li><a href="" class="menu__link"></a></li>
                                <li><a href="" class="menu__link"></a></li>
                                <li><a href="" class="menu__link"></a></li>
                                <li><a href="" class="menu__link"></a></li>
                                <li><a href="" class="menu__link"></a></li>
                            </ul>
                        </nav>
                    </div>
                    <a href="" class="btn"></a>
                </div>
            </div>
           <!-- Header container -->
       </div>
        <!-- Header -->
       <div class="content">

       </div>
       <div class="footer">

       </div>
    </div>
    <!-- Wrapper -->
</body>
</html>