@import "simple-grid";


/* Text styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 18px;
}

ul, li {
  list-style-type: none;
}

h1, h2, h3, p {
  color: #fff;
}

.header-title {
  font-size: 64px;
  letter-spacing: 3px;
  line-height: 60px;
  font-weight: 300;
}

.body-title {
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 60px;
  font-weight: 300;
}

.main-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 32px;
  font-weight: 300;
}

.text-center {
  text-align: center;
}
/* Text styles */

/* Position styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header-wrapper {
  margin-top: 37px;
  padding-bottom: 40px;
}

.header-top-margin {
  margin-top: 23px;
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.title {
  margin: 30px 0 3px 0;
}

.text {
  margin-bottom: 46px;
}

.float-right {
  float: right;
}
/* Position styles */

/* Color styles */
.white {
  color: #fff;
}
.green {
  color: #2ecc71;
}
.gray-light {
  color: #b4b4b4;
}
.gray {
  color: #5a5a5a;
}
/* Color styles */

/* Helper styles */
.btn {
  width: 140px;
  height: 42px;
  display: block;
  padding: 6px 12px;
  border-radius: 20px;
}
.main-btn {
  background-color: white;
  color: #2ecc71;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
/* Helper styles */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ul, li {
  display: block;
}

h1, p {
  color: #fff;
}

/* Card zone */

.card-padding {
  padding: 5px 5px;
}

.card-big {
  border: 2px solid #dedede;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.card-small {
  border: 2px solid #dedede;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 85%;
}

.card-image>img {
  width: 100%;
  height: 100%;
}

.card-content {
  width: 190px;
}

.card-title, .card-text {
  margin-bottom: 0;
}

.card-title-main {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 22px;
  font-weight: 700;
}

.card-title-time {
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 700;
}

.card-text-main {
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 17px;
  font-weight: 300;
}

.card-text-time {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 15px;
  font-weight: 700;
}

.card-time {
  text-align: right;
}
.card-big .card-content .card-title-main {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.card-big .card-content .card-text-main {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 21px;
}

.card-footer {
  font-size: 10px;
}

.card-footer::before {
  content: "35 G";
  color: #2ecc71;
  font-weight: bold;
  padding-right: 10px;
  font-size: 12px;
}

.card-footer::after {
  content: "189 KCAL";
  color: #2ecc71;
  font-weight: bold;
  padding-left: 10px;
  font-size: 12px;
}

/* Card zone */

.shadow {
  box-shadow: 0 0 27px 0 rgba(217, 217, 217, 1);
}

.green {
  color: #2ecc71;
}
.black-text {
  color: black;
}

.white-text {
  color: #f4f4f4;
}


.title b{
  color: #f4f4f4;
}

/*HEADER-ZONE*/

.header {
  background: url('./assets/images/header-background_test.png') no-repeat center top / cover;
}

.nav {
  display: flex;
}

.nav .menu-list {
  display: flex;
  margin-top: 10px;
}

.nav .menu-list li:not(:last-child) {
  margin-right: 54px;
}

.nav .menu-list li a {
  text-decoration: none;
}

.mobile-nav .menu-list {
  display: none;
}
//----------------------------------------- need fix this
.mobile__nav .menu__list li {
  border-top: 1px solid #fff;
  width: 100%;
  text-align: center;
}

.mobile__nav .menu__list li:last-child {
    border-bottom: 1px solid #fff;
}

.mobile__nav .menu__list li a {
  text-decoration: none;
}

.header-content {
  padding: 123px 0px;
}

.download-list {
  display: flex;
}

.download-item {
  width: 145px;
  height: 46px;
  margin-right: 30px;
}

.appstore {
  background: url("./assets/images/Appstore.png") no-repeat left;
}

.googleplay {
  background: url("./assets/images/Google_Play.png") no-repeat left;
}

.header-sidebar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1px;
}

/*HEADER-ZONE*/

/*FEATURES-ZONE*/

.features {
 // background: url("./assets/images/features-background_test.png") no-repeat center top / cover;
}

.features__row {
}

.features-sidebar {
  background: url("./assets/images/elipse.png") no-repeat center;
}

.features-sidebar .features-image {
  padding-top: 30px;
  padding-right: 10px;
}

.features-sidebar .features-content {
  padding: 135px 24px;
}

.features-sidebar .features-content .features-item>img {
  opacity: 1;
  -webkit-transform: scale(1,1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1,1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

.features-sidebar .features-content .features-item>img:hover {
  -webkit-transform: scale(1.2,1.2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(1.2,1.2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
}

.features-sidebar .features-content .item_2, .item_4 {
  padding-left: 105px;
}

.features-sidebar .features-content .item_3 {
  padding-left: 80px;
}

.features-content {
  padding: 275px 5px;
}

/*FEATURES-ZONE*/

/*PLAN-ZONE*/

.plan {
  background: url("./assets/images/plan-background.png") no-repeat center top / cover;
}

.plan-content {
  padding: 66px 165px 0;
}

.plan-image {
  display: flex;
  padding-top: 62px;
}

.plan-image>img {
  width: 100%;
}

/*PLAN-ZONE*/

/*MANAGE-ZONE*/

.manage-content {
  padding: 200px 5px;
}

.manage__title {
  font-size: 48px;
}

.manage-cards {
  align-items: center;
  padding: 90px 9px;
}

/*MANAGE-ZONE*/

/*FOOTER-ZONE*/

.footer {
  background: url("./assets/images/footer-background.png") no-repeat center top / cover;
}

.footer-content {
  padding: 0 145px;
}

.footer__title {
  margin-top: 110px;
  margin-bottom: 35px;
}

.footer__text {
  margin-bottom: 60px;
}

.footer-content .btn {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 242px;
}

/*FOOTER-ZONE*/

/* Responsive starts here */

@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
  .plan__title {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1370px) {
  .header__sidebar {
    display: none;
  }
  .md {
    width: 100%;
  }
  .header__content {
    text-align: center;
  }
  .download__list {
    justify-content: center;
  }
  .features__row {
    display: flex;
    flex-direction: column-reverse;
  }
  .features__content {
    padding: 0;
    text-align: center;
  }
  .features__sidebar .features__content .features__item {
    display: flex;
  }
  .features__sidebar .features__image {
    justify-content: flex-end;
    padding-top: 30px;
  }
  .download__list {
    padding: 30px 0;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .plan__content {
    padding: 0;
  }
  .footer__content {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .col-1-md {
    width: 4.33%;
  }
  .col-8-md {
    width: 62.66%;
  }
  .header__nav .menu__list {
    display: none;
  }
  .trigger {
    display:  inline-block;
    margin: 3px;
    cursor: pointer;
  }
  .trigger i{
    display:  block;
    width:  30px;
    height: 6px;
    margin: 4px auto;
    background: #fff;
  }
  .mobile__nav .show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header__btn {
    display: flex;
    justify-content: flex-end;
  }
  .order-3 {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .manage__content__left {
    padding: 0;
    text-align: center;
  }
  .footer__title {
    font-size: 50px;
  }
  .sm {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 540px;
  }
  .features__sidebar .features__image {
    display: none;
  }
  .features__sidebar {
    background: #fff;
    padding: 0;
  }
  .features__sidebar .features__content .features__item {
    display: flex;
    justify-content: center;
  }
  .features__sidebar .features__content .item_1, .features__sidebar .features__content .item_2, .features__sidebar .features__content .item_3,.features__sidebar .features__content .item_4 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .offer h1 {
    font-size: 80px;
  }
  .tel {
    display: none;
  }
  .menu-open {
    margin-left: auto;
  }
  .manage__cards {
    display: none;
  }
  .manage__content__left {
    padding: 60px 0;
  }
  .sm, .md {
    width: auto;
  }
}

@media screen and (max-width: 420px) {
  .header__btn {
    display: none;
  }
  .md {
    width: 100%;
    margin: 0 !important;
  }
  .download__item {
    margin-right: 5px;
  }
  .features__sidebar .features__content {
    display: none;
  }
  .features__row {
    padding: 60px 0;
  }
}

@media screen and (max-width: 325px) {
  .title {
    font-size: 46px;
  }
}
